<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tbstyles.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
        {%if messages %}
        {% for m in messages %}
        <h5>{{m}}</h5>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="Header">
        <h2>Frank's Pizza Supreme</h2>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </div>
    <div>
        <table>
            <form action="/updateFavoritesPost" method="post">
                <th>
                <td>Name</td>
                <td>Description</td>
                <td>LikeID</td>
                <td>active</td>
                </th>
                {% for num1 in range(0, rCount) %}
                <tr>
                    <td>{{pi[num1].Name}}</td>
                    <td>{{pi[num1].Description}}</td>
                    <td>{{pi[num1].LikeID}}</td>
                    <td>
                        {% if pi[num1].active == 1 %}
                        <label for="{{'c'+pi[num1].PizzaID|string}}">Favorite</label>
                        <input type="checkbox" value={{1}} name="{{'c'+pi[num1].PizzaID|string}}"
                            id="{{'c'+pi[num1].PizzaID|string}}" />
                        {% else %}
                        <label for="{{'c'+pi[num1].PizzaID|string}}">Favorite</label>
                        <input type="checkbox" value={{0}} name="{{'c'+pi[num1].PizzaID|string}}"
                            id="{{'c'+pi[num1].PizzaID|string}}" />
                        {% endif %}


                        <input type="text" value="{{pi[num1].PizzaID}}" name="{{pi[num1].PizzaID}}" hidden disabled />
                    </td>
                </tr>
                {% endfor %}
            </form>
        </table>
    </div>

</body>